header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position:relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right:0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	transition: 0.4s;
}

nav a:hover {
	color:  #C78C19;
	text-decoration: underline;
	transition: 0.4s;
}

.banner {
	margin: 1.5%;
	text-align: center;
}

.principal {
	display: inline-block;
	padding: 20px 220px;
	border: 2px solid #000000;
}

.titulo-centralizado {
	font-size: 20px;
	font-weight: bold;
}


footer {
	text-align: center;
	background: url(bg.jpg);
	padding:40px 0px;	
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0
}